# --- Node ---
node_modules/
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Keep lockfile for npm
# (Do NOT ignore package-lock.json)
# package-lock.json

# --- React Native / Metro ---
.expo/
.expo-shared/
dist/
build/
coverage/
*.log
*.tmp
*.temp
.temp/
.tmp/
metro-cache/

# --- iOS ---
ios/build/
ios/Pods/
ios/DerivedData/
ios/*.xcworkspace

xcuserdata/
*.xcscmblueprint
*.xccheckout
*.pbxuser
*.mode1v3
*.mode2v3
*.xcuserstate
*.moved-aside

# --- Android ---
android/.gradle/
android/.idea/
android/local.properties
android/app/build/
android/build/

*.keystore
*.jks
*.apk
*.aab

# --- Bundled JS ---
*.bundle
*.map

# --- VSCode ---
.vscode/

# --- JetBrains IDEs ---
.idea/
*.iml

# --- macOS ---
.DS_Store

# --- Windows ---
Thumbs.db
ehthumbs.db
Desktop.ini

# --- Environment variables ---
.env
.env.*